<!-- login.component.html -->
<div *ngIf="isLoginPage">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <!-- Email Input -->
        <div>
            <input type="email" placeholder="Email" formControlName="email" />
            <!-- Error message for email -->
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
                <small *ngIf="loginForm.get('email')?.hasError('required')">Email is required.</small>
                <small *ngIf="loginForm.get('email')?.hasError('email')">Please enter a valid email address.</small>
            </div>
        </div>

        <!-- Password Input -->
        <div>
            <input type="password" placeholder="Password" formControlName="password" />
            <!-- Error message for password -->
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
                <small *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</small>
                <small *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 4 characters
                    long.</small>
            </div>
        </div>

        <!-- Submit Button -->
        <div>
            <button type="submit" [disabled]="loginForm.invalid">Login</button>
        </div>
    </form>
</div>
<!--  -->
<div *ngIf="!isLoginPage">
    <!-- Register form -->
    <h2>Register</h2>
</div>